.allurLogo {
    width: 177px;
    height: 55px;
    fill: #f26c64;
}

nav {
    margin: 30px 30px 30px 30px;
}

ol {
    list-style: none;
    float: right;
    font: normal normal normal 24px Dunbar Tall;
    letter-spacing: 0;
    color: #303030;
    word-spacing: 30px;
    margin-right: 30px;
}

li {
    display: inline-flex;
}

h1 {
    margin-left: 129px;
    margin-top: 120px;
    /*font-family: Metropolis, Regular;*/
    text-align: left;
    font: normal normal normal 64px/83px Dunbar Tall;
    letter-spacing: 0;
    color: #F26C64;
    opacity: 1;
}

html {
    background-color: #EAEAEA;
}

.bgImg {
    background-image: url('imgFiles/charcoocheryBoard.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: content-box;
    height: 1150px;
    padding-top: 20px;
}

form {
    display: inline-flex;
    flex-direction: row;
    margin: 0 5% 20px 10%;
    width: 80%;
}

.form-inline {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.form-inline input {
    border: 2px solid #303030;
    border-radius: 12px;
    width: 90%;
    height: 30px;
    background-color: #EAEAEA;
}

.form-inline label {
    font: 18px "Dunbar Tall", normal;
    color: #303030;
    background-color: #EAEAEA;
    padding: 0 0 8px 8px;
    width: 30%;
}

.form-submit {
    padding-top: 30px;
}

.form-submit input {
    font: 18px "Dunbar Tall", normal;
    border: 2px solid #F26C64;
    border-radius: 12px;
    height: 36px;
    width: 100%;
    padding: 4px 12px 4px 12px;
}

.form-inline button:hover {
    background-color: #ffffff;
}

footer img {
    width: 15%;
    height: 15%;
    margin: 20px 0 20px 20px;
}

footer {
    background-color: #32689B;
    border-radius: 24px;
    display: inline-flex;
    width: 100%;
    float: right;
    margin-top: 750px;
}

footer p {
    color: #EAEAEA;
    font: normal normal normal 21px Dunbar Tall;
}

footer h3 {
    color: #EAEAEA;
    font: 24px "Dunbar Tall", bold;
}

.footer-about {
    justify-content: flex-end;
    margin-left: 10%;
}

.footer-follow{
    justify-content: flex-end;
    margin-left: 10%;
}

.footer-values1 {
    justify-content: flex-end;
    margin-left: 10%;
}

.footer-values2 {
    justify-content: flex-end;
    margin-left: 10%;
    margin-top: 45px;
}